@page
@model iammovies.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de Registo";
}

<h1>@ViewData["Title"]</h1>
<p>
    Um e-mail de confirmação foi enviado para <strong>@Model.Email</strong>.<br/>
    Verifica a tua caixa de entrada e clica no link aí enviado para activar a conta.
</p>