@model iammovies.Models.Filme
@{
    ViewData["Title"] = "Adicionar Filme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adicionar Filme</h2>

<form asp-action="AdicionarFilme" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Realizador"></label>
        <input asp-for="Realizador" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DataLancamento"></label>
        <input asp-for="DataLancamento" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Capa (opcional)</label>
        <input type="file" name="capa" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Adicionar</button>
</form>