@{
    ViewData["Title"] = "Estatísticas";
}
<h1>Estatísticas</h1>
<ul class="list-group mt-4">
    <li class="list-group-item">Total de Utilizadores: <strong>@ViewBag.TotalUsers</strong></li>
    <li class="list-group-item">Total de Filmes: <strong>@ViewBag.TotalFilmes</strong></li>
    <li class="list-group-item">Total de Favoritos: <strong>@ViewBag.TotalFavoritos</strong></li>
</ul>
