@{
    ViewData["Title"] = "Informações do Projeto";
}

<h1 class="mt-4">Informações do Projeto</h1>

<div class="mt-4">
    <h4>Curso:</h4>
    <p>Licenciatura em Engenharia Informática</p>

    <h4>Disciplina:</h4>
    <p>Desenvolvimento Web</p>

    <h4>Ano Letivo:</h4>
    <p>2º Ano, 2º Semestre</p>

    <h4>Autores do Trabalho:</h4>
    <ul>
        <li>Gonçalo Silva - nº25971</li>
        <li>Gabriel Carvalho - nº26401</li>
    </ul>

    <h4>Tecnologias Utilizadas:</h4>
    <ul>
        <li>ASP.NET Core MVC</li>
        <li>Entity Framework Core</li>
        <li>LINQ</li>
        <li>Identity</li>
        <li>SignalR</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>

    <h4>Bibliotecas / Recursos Externos:</h4>
    <ul>
        <li>Bootstrap Icons - https://icons.getbootstrap.com</li>
        <li>ChatGPT (OpenAI) - Apoio na construção de código e estrutura</li>
        <li>Documentação oficial da Microsoft (docs.microsoft.com)</li>
    </ul>

    <h4>Credenciais de Demonstração:</h4>
    <ul>
        <li><strong>Administrador</strong>: admin@admin.com | Password: Admin123!</li>
        <li><strong>Utilizador</strong>: user@user.com | Password: User123!</li>
    </ul>
</div>