@{
    ViewData["Title"] = "Início";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center" style="height: 80vh;">
    <h1 class="custom-title">I AM MOVIES</h1>
    <p class="lead mt-3 mb-4">Descobre e guarda os teus filmes favoritos.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Filmes" asp-action="Index">Explorar Filmes</a>
</div>