@using Microsoft.AspNetCore.Identity
@using iammovies.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);

    if (user != null)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@user.FotoPerfil" alt="Foto" class="rounded-circle me-2" style="width: 30px; height: 30px;" />
                @user.Nome
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" asp-controller="Perfil" asp-action="Index">Gerir Conta</a></li>
                <li><a class="dropdown-item" asp-controller="Favoritos" asp-action="Index">Favoritos</a></li>
                <li>
                    <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-flex m-0 p-0">
                        <button type="submit" class="dropdown-item text-danger w-100 text-start">Terminar Sessão</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        // Se a conta foi eliminada mas ainda há sessão
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-danger">Sessão Inválida (Terminar)</button>
            </form>
        </li>
    }
}
else
{
    <li class="nav-item">
        <a class="nav-link login-highlight fw-bold" asp-area="Identity" asp-page="/Account/Register">Registar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link login-highlight fw-bold" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
}