@{
    ViewData["Title"] = "Erro";
}

<h1>Oops! Algo correu mal.</h1>
<p>Ocorreu um erro inesperado. Por favor tenta novamente mais tarde.</p>
<p>Se o problema persistir, contacta o administrador.</p>
<p>Status: @Context.Response.StatusCode</p>